@charset "UTF-8";


/*
  App-wide basic app styles.
 */


html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  position: relative;
  background: white;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #666;
}
footer {
  padding: 30px 0 30px 0;
  background: #1f1f1f;
}
p {
  line-height: 1.8em;
}


/*
  Utility classes.
 */


.container {
  padding-left: 10%;
  padding-right: 10%;
}

/** {
  border: 1px solid red;
}*/


/*
  Top nav.
 */


nav.top-nav {
  width: 100%;
  line-height: 80px;
  height: 80px;
}
#logo,
#logo a,
#logo a:hover,
#logo a:active {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8em;
  color: black;
  text-align: middle;
  padding: 0;
  margin: 0;
  float: left;
}
.top-nav {
  border-bottom: 3px solid red;
}
.top-nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  float: right;
}
.top-nav li {
  font-size: 0.8em;
  display: inline-block;
  text-align: middle;
}
.top-nav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.4s color;
  padding: 0 20px;
}
.top-nav a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.top-nav a.active {
  color: #2EA3F2;
  cursor: default;
}


/*
  Page contents.
 */


header.home {

  height: 400px;
  text-align: center;
  background: url("http://i.imgur.com/HH5DaJP.jpg");
  background-size: cover;
  color: white;

}

.content.container {
  padding-bottom: 40px;
}

.content.container img {
  width: 100%;
  height: auto;
}
