<div class="gallery">

  <h1>Gallery</h1>

  <div class="card-columns monkies" >

    <div class="card monkie" ng-repeat="monkie in app.monkies">

      <!-- Image of a monkey -->
      <a ng-href="{{ monkie.linkUrl }}">
        <img
          class="card-img-top"
          ng-src="{{ monkie.imgUrl }}"
          alt="{{ monkie.name }}"
          title="{{ monkie.name }}"
          style="width: 100%;" >
      </a>

      <!-- Name and description of a monkey -->
      <div class="card-block">
        <h4
          class="card-title"
          ng-if="monkie.name.length > 1">
          {{ monkie.name }}
        </h4>
        <p
          class="card-text"
          ng-if="monkie.desc.length > 1">
          {{ monkie.desc }}
        </p>
        <a
          ng-if="monkie.linkUrl.length > 1"
          ng-href="{{ monkie.linkUrl }}"
          class="btn btn-primary">
          Details
        </a>
      </div>

    </div><!-- /.monkie -->

  </div><!-- /.monkies -->

</div><!-- /.gallery -->
